
body {
	font-family:  "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic", "メイリオ", Meiryo, sans-serif;
	color: #333;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
#container {
	margin: 0 auto;
	width: 1200px;
	background: #FFF;
}

header {
	width: 100%;
	display: flex;
	justify-content: space-between;
//	background: beige;
	border-bottom: 1px solid blue;
}
#kasa {
	display: flex;
}

header h1{
	padding-top:20px;
	font-family: "Times New Roman",Times,serif;
	font-size: 2.4rem;
	font-style: italic;
	color: darkred;
}
#kasa {
	display: flex;
}
header a{
	padding: 10px 30px;
}

.kyouto_story{
	margin-left: auto;
	padding: 40px 40px 5px 0px;
	font-family: "Times New Roman",Times,serif;
	font-size: 1.8rem;
	font-style: italic;
	color: red;
}
#kasa {
	display: flex;
}
nav ul {
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
nav li {
	width: calc(100%/7);
	font-size: 0.8rem;
	line-height: 2.2;
	border-left: 1px solid green;
	color: green;
	box-sizing: border-box;
	text-align: center;
}
#kyouto__message  {
	display: flex;
	padding:10px 0 10px 160px;
}
#kyouto__message img{
	display: inline;
}
#kyouto__message p{
	padding:25px 0 10px 50px;
	line-height: 2;
}
.zentai {
	display: flex;
	width: 100%;
}

#gurahu {
	width:280px;
//	background: lightcyan;
	padding:0 7px;
}
#gurahu h2 {
	padding:10px 0;
	font-size: 1.4rem;
	font-family: "Times New Roman",Times,serif;
	color: firebrick;
	text-align: center;
	background: lightgoldenrodyellow;
}
#gurahu ul{
//	padding: 0 0 10px ;
//	line-height: 1.4;
	list-style: disc;
	list-style-position: inside;
	font-size: 0.9rem;
}

main{
	margin: 0 auto;
	width: 640px;
	padding:0 7px;
//	background: seashell;
}

main section {
	display: flex;
	justify-content: space-between;
	margin: 20px 10px ;
}
main h2 {
	padding:10px;
	font-family: "Times New Roman",Times,serif;
	color: firebrick;
	font-size: 1.4rem;
	background: lightgoldenrodyellow;
	text-align: center;
}
main section h1 {
	padding:0 15px 10px 15px;
	font-size:1.8rem; 
	font-family: serif;
}
main section p{
	margin: 0 20px;
	font-family: serif;
	color: darkmagenta;
	line-height: 2;
	letter-spacing: 1px;
	font-size: 0.8rem;
}
main section:first-child{
	 flex-direction: row-reverse;
}
main section:nth-child(3){
	 flex-direction: row-reverse;
}
main section:nth-child(5){
	 flex-direction: row-reverse;
}
aside{
	width:280px;
//	background: tomato;
	text-align: center;
	padding:0 7px;
}
aside h2 {
	font-family: "Times New Roman",Times,serif;
	color: firebrick;
	font-size: 1.4rem;
	background: lightgoldenrodyellow;
	padding:10px 0;
	text-align: center;
}
#name{
	margin:10px 0 0 0;
}
footer {
	border-top: 1px solid;
	display: flex;
	justify-content: space-between;
	font-size: 0.7rem;
	width: 100%;
}
.danraku {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer p {
	margin:10px 20px;
	font-size: 0.85rem;
}
.danraku li {
	padding: 10px 0 0 0;
	width: calc(100%/2); 
	
}

